.footer {
  padding: 15px 0;
  background: linear-gradient(to bottom, #414399, #28294f);
  text-align: center;
}

.footer__container {
  display: flex;

  @media screen and(min-width:$mobile_280) {
    justify-content: center;
    align-items: center;
  }

  @media screen and(min-width:$tablet) {
    justify-content: space-between;
    align-items: center;
  }

}

.footer__menu {
  @media screen and(min-width:$mobile_280) {
    display: none;
  }

  @media screen and(min-width:$tablet) {
    margin-left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.address {
  @media screen and(min-width:$mobile_280) {
    display: none;
  }

  @media screen and(min-width:$tablet) {
    display: block;
  }
}

.footer__phone {
  color: $textColor;
  margin-top: 5px;
  font-size: 14px;
}

.footer__day {
  font-size: 14px;
  margin-top: 5px;
  color: $descriptionColor;
}
