.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.header__menu_icon:hover {
  .menu-toggle & {
    fill: #3e44ff;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  z-index: 999;
  background: linear-gradient(to right, #0e0e19, #1b1d31);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  text-align: center;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile__item {
  margin-top: 20px;
}

.mobile-link {
  color: $textColor;
  &:hover,
  &:focus {
    color: $buttonColor;
  }
}

.mobile__social {
  margin-top: 40px;
}

.mobile__logo_img {
  margin: 0 auto;
  width: 60px;
}

.mobile__logo {
  margin-top: 40px;
}
