.servises {
  padding-top: 20px;
}

.servises__list {
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-wrap: wrap;
  }
}

.servises__item {
  position: relative;

  @media screen and (min-width: 280px) {
    margin-top: 10px;
  }

  @media screen and(min-width: 768px) {
    display: block;
    margin-left: 10px;
    margin-right: 10px;

    width: calc((100% - 4 * 10px) / 2);
  }

  @media screen and(min-width: 1024px) {
    width: calc((100% - 6 * 10px) / 3);
  }
}

.servise__img {
  width: 100%;
  background-color: #383838;
  opacity: 0.4;

  &:hover {
    opacity: 0.6;
    box-shadow: 0px 0px 4px 1px white;
  }
}

.servises__desc {
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  // opacity: 0.7;

  font-size: 16px;
  font-weight: 500;
}
